Client/TutoriasClient/Connected Services/TutoriasServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" />
  <xs:import schemaLocation="http://localhost:8085/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs.ServiceContracts.DTOs" />
  <xs:import schemaLocation="http://localhost:8085/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RegisterTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="request" nillable="true" type="q1:RegisterTutorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTutorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="request" nillable="true" type="q2:RegisterStudentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="request" nillable="true" type="q3:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="LoginUserResult" nillable="true" type="q4:AuthenticatedUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTutors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTutorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="GetAvailableTutorsResult" nillable="true" type="q5:ArrayOfTutorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q6:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTutors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTutorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="GetAllTutorsResult" nillable="true" type="q7:ArrayOfTutorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCareers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCareersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="GetAllCareersResult" nillable="true" type="q8:ArrayOfCareerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="request" nillable="true" type="q9:CreateAppointmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAppointmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingAppointments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs.ServiceContracts.DTOs" minOccurs="0" name="GetPendingAppointmentsResult" nillable="true" type="q10:ArrayOfAppointmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoShowAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoShowAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q11:duration" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="endTime" type="q12:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs" minOccurs="0" name="request" nillable="true" type="q13:FinalEvaluationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFromNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendedAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs.ServiceContracts.DTOs" minOccurs="0" name="GetAttendedAppointmentResult" nillable="true" type="q14:ArrayOfAppointmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUpcomingAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceContracts.DTOs.ServiceContracts.DTOs" minOccurs="0" name="appointment" nillable="true" type="q15:AppointmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>