Client/TutoriasClient/Connected Services/TutoriasServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DuplicateTutorFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicateTutorFault" nillable="true" type="tns:DuplicateTutorFault" />
  <xs:complexType name="DuplicateStudentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicateStudentFault" nillable="true" type="tns:DuplicateStudentFault" />
  <xs:complexType name="CapacityFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapacityFault" nillable="true" type="tns:CapacityFault" />
</xs:schema>